body{
    width: 320px;
    margin: 120px auto;
    background: radial-gradient(circle, #ff0080, #6a00ff);

}
.calculator{
  margin:0 auto;
  left:0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.calculator button {
  width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 5px;
  border: none;
  background-color: #f1f1f1;
  color: #000;
  margin: 5px;
  cursor: pointer;
}
  
.calculator #screen {
  width: 198px;
  height: 57px;
  font-size: 30px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  background-color: #fff;
  color: #000;
  text-align: left;
  margin-left: 1px;

}
 
.calculator .number {
  background: #6a00ff;
}
.calculator .symbol {
  background: #6a00ff;
}
.calculator button:last-child {
  background-color:#ff1690 ;
  color: #fff;
}