body{
    width: 320px;
    margin: 120px auto;
    background: radial-gradient(circle, #ff0080, #6a00ff);

}
.calculator{
  margin:0 auto;
  left:0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.calculator button {
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: 5px;
  border: none;
  background-color: #f1f1f1;
  color: #000;
  margin: 5px;
  cursor: pointer;
}

.calculator #screen {
  width: 215px;
  height: 67px;
  font-size: 30px;
  padding-left: 15px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  background-color: #fff;
  color: #000;
  text-align: left;
  margin-left: 5px;
}
 
.calculator .number {
  background: #6a00ff;
  border-radius: 50%;
}
.calculator .symbol {
  background-color:#df0e8b ;
  border-radius: 50%;
}
